<body>
  <header class="top-nav">
    <div class="header">
      <h1 id="heading">Home</h1>
      <p id="title"></p>
    </div>
  </header>
  <nav class="bottom-nav">
    <button class="home active" type="button" routerLinkActive="active-link" aria-current="page" id="home" routerLink="/main">
      <span class="material-symbols-rounded">home</span>
    </button>
    <button type="button" routerLinkActive="active-link" id="lesson" routerLink="/lesson">
      <span class="material-symbols-rounded">library_books</span>
    </button>
    <button type="button" routerLinkActive="active-link" id="info" routerLink="/user">
      <span class="material-symbols-rounded">person</span>
    </button>
  </nav>
</body>
